$white-color: #fff;

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white-color;
  background: radial-gradient(circle, rgba(9,9,121,1) 0%, rgba(4,51,196,1) 50%, rgba(9,9,121,1) 100%);
}

#chk {
  display: none;
}

.none {
  display: none;
}

.wrapper-login {
  width: 350px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  background: linear-gradient(0deg, rgba(9,9,121,1) 0%, rgba(4,51,196,1) 50%, rgba(9,9,121,1) 100%);
  box-shadow: 0px 5px 23px #000;
}

.signup, .login {
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.signup {
  position: relative;
  width: 100%;
  height: 100%;
}

label {
  display: flex;
  justify-content: center;
  margin: 40px auto;
  padding: 10px;
  color: $white-color;
  font-size: 38px;
  font-weight: 700;
  transition: .5s ease-in-out;
  cursor: pointer;
}

input {
  display: flex;
  justify-content: center;
  width: 60%;
  height: 40px;
  margin: 10px auto;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 5px;
}

button {
  width: 55%;
  height: 40px;
  font-size: 16px;
  font-weight: 800;
  color: $white-color;
  background: rgba(4,51,196,1);
  margin: 10px auto;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: .2s ease-in;
  cursor: pointer;
}

button:hover{
	background: #6d44b8;
}

.login {
  height: 460px;
  background: $white-color;
  border-radius: 60% / 10%;
  transform: translateY(-80px);
  transition: .8s ease-in-out;

  label {
    margin-top: 5px;
    color: rgba(4,51,196,1);
    transform: scale(.6);
  }

  input {
    background-color: #cadcff;
  }
}

#chk:checked ~ .login{
	transform: translateY(-390px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}